<footer>
    <div class="container text-center">
     <h3 class="p-0">BLOG FASHION</h3>
     <div class="social-links my-3">
      <a href="#"><i class="pi pi-twitter"></i></a>
      <a href="#"><i class="pi pi-facebook"></i></a>
      <a href="#"><i class="pi pi-instagram"></i></a>
      <a href="#"><i class="pi pi-linkedin"></i></a>
     </div>
     <p>&copy; Copyright <strong>FSoft</strong>. All Rights Reserved</p>
     <div class="links my-2"><a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a></div>
    </div>
</footer>